[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"
Pillow = "*"
FastAPI = "*"
uvicorn = "*"

[dev-packages]
black = "*"
pylint = "*"
isort = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
